body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #4e4e4e;
  display: flex;
}

h1 {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: white;
  background-color: #202020;
}
.game {
  background-color: rgb(103, 87, 109);
}

footer {
  height: 4rem;
  color: white;
  background-color: #202020;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 20%;
  border: 4px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
  background-color: #fff;
  color: #000000;
}

.score-list {
  list-style: none;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
}

.contour {
  border: 4px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}
