body {
  margin: 0;
  padding: 0;
}

.secretlink {
  text-decoration: none;
  color: rgb(86, 200, 212);
}

.main {
  background-color: #f4eae6;
}

h1 {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: rgb(86, 200, 212);
  background-color: rgb(30, 52, 63);
}
.game {
  background-color: #2f5061;
  margin-top: 7em;
  margin-bottom: 7em;
}

footer {
  display: flex;
  justify-content: center;
  height: 6em;
  color: rgb(86, 200, 212);
  background-color: rgb(30, 52, 63);
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
}

.contour {
  border: 1px solid rgb(54, 53, 53);
  box-shadow: 5px 10px 10px rgb(146, 146, 146);
}
